<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <web_config>
        <bind>127.0.0.1:8080</bind>
    </web_config>
    <database_config>
        <ip>192.168.1.213</ip>
        <port>1521</port>
        <database_name>oragafis</database_name>
        <username>cherish</username>
        <password>cherish</password>
    </database_config>

    <api_url>http://127.0.0.1:8081</api_url>

    <zookeeper_config>
        <connect_string>127.0.0.1:2181</connect_string>
    </zookeeper_config>

    <ftp_config>
        <ftpHostAddr>192.168.1.132</ftpHostAddr>
        <ftpUserName>zchao</ftpUserName>
        <ftpPassword>123456</ftpPassword>
        <ftpPort>21</ftpPort>
    </ftp_config>
</config>